@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:root {
  font-family: "Helvetica Neue", "Helvetica", "Trebuchet MS", Verdana, sans-serif;
  --font-mono: monospace;
  --accent-color: #d772a1;
}
/* PLEASE DONT FORGET THE SEMICOLON OR YOU GET A RANDOM ERROR THAT MAKES NO SENSE AND YOU WILL HAVE NO IDEA HOW TO FIX */
/* PLEASE DONT WASTE MORE HOURS OF YOUR LIFE!!!!!! */
@layer base {
  body {
    @apply text-lg text-zinc-600 dark:text-zinc-200;
  }

  body.noscroll {
    overflow-y: hidden;
  }
  h1 {
    @apply text-4xl text-zinc-900 dark:text-zinc-100;
    font-weight: 550;
  }
  h2 {
    @apply text-3xl text-zinc-800 dark:text-zinc-200;
    font-weight: 550;
  }
  p {
    font-weight: 400;
    line-height: 1.5;
    @apply text-zinc-600 dark:text-zinc-300;
  }
  a {
    text-decoration: none;
  }
}