@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  html {
    @apply font-sans;
  }
  body {
    @apply text-lg text-zinc-600 dark:text-zinc-200;
  }

  body.noscroll {
    overflow-y: hidden;
  }
  h1 {
    @apply text-4xl text-zinc-900 dark:text-zinc-100;
    font-weight: 550;
  }
  h2 {
    @apply text-3xl text-zinc-800 dark:text-zinc-200;
    font-weight: 550;
  }
  p {
    font-weight: 400;
    line-height: 1.5;
    @apply text-zinc-700 dark:text-zinc-300;
  }
  a {
    text-decoration: none;
  }
}